//   MOBILE FIRST   

.aboutme_container {
    font-weight: 100;
    display: grid;
    grid-template-areas:
    "header"
    "article"
    "footer";
    grid-template-rows: 140px 450px 140px;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    min-width: 100%;
    background-color:pink;

    .aboutme_article{
        grid-area: article;
        display: flex;
        background-color: yellowgreen;
        color: red;
    }
}