

//    Background Colors


//  A l v o r o c a

// Background
// (Red Wine colour)
$bkgrn-alvoroca: rgb(116, 47, 55);



//   Fonts

$f-header-links: rgb(227, 218, 201);

$f-solapino: white;

$f-cards-text: white;

$f-cards-links: lavender;






$kerosene-link: rgb(234, 170, 0);
// tho it-s not a link yet 


