//   MOBILE FIRST   

.footer {
    grid-area: footer;
    height: 130px;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;


    .footer_text {
        font-size: 0.8rem;
        margin-left: 5px;
        margin-top: 80px;
        color: $kerosene-link;
        display: flex;
        align-items: center;
        
    }

    .footer_logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        margin-right: 30px;

        .footer_logos_img {
            width: 30px;
            margin-left: 12px;

        }
    }
}



// @media screen and (min-width: 1200px){

//     MISSING TABLET 


// }




@media screen and (min-width: 1200px){
    .footer{
        display: flex;
        height: 180px;
        font-size: 20px;
        width: 100%;
        background-color: yellowgreen;
        /* grid-area: footer; */

        .footer_text {
            max-width: 50%;
            background-color: red;
            margin-left: 9px;
        }

        .footer_logos {   
            margin-left: 250px;
            max-width: 50%;        
            background-color: blue;

            .footer_logos_img {
                height: 30px;
                width: 40px;                
            }
        }
    }
}





