//   MOBILE FIRST   

.footer {
    grid-area: footer;
    height: 130px;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;


    .footer_text {
        font-size: 0.8rem;
        margin-left: 5px;
        margin-top: 80px;
        color: $kerosene-link;
        display: flex;
        align-items: center;
        
    }

    .footer_logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        margin-right: 30px;

        .footer_logos_img {
            width: 30px;
            margin-left: 12px;

        }
    }
}



// @media screen and (min-width: 1200px){

//     MISSING TABLET 


// }




@media screen and (min-width: 1200px){
    .footer{
        grid-area: footer;
        display: grid;
        grid-template-columns: 1fr 1fr;    
        // background-color: $bkgrn-alvoroca;
        background-color: yellowgreen;
        height: 160px;

        .footer_text {
            width: 100%;
            font-size: 1.3rem;
            padding-left: 8px;   
            color: $kerosene-link;    
        }

        .footer_logos {   
            width: 100%;        
            padding-right: 50px;

            .footer_logos_img {
                height: 30px;
                width: 30px;                
            }
        }
    }
}





