//   MOBILE FIRST   

.header {
    display: flex;
    grid-area: header;
    background-color: red;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    height: 140px;

    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;


        li {
            padding: 20px;
            &:hover{
                color: black;
            }

            a{
                color: greenyellow;
                font-size: 1.2rem;
            }
        }
    }
}

// @media screen and (min-width: 1200px){

//     MISSING TABLET 


// }


@media screen and (min-width: 1220px){
    .header {
        display: flex;
        grid-area: header;
        background-color: pink;
        justify-content: flex-end;
        justify-items: center;
        align-items: center;
        height: 140px;
        
    
        .navbar ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
    
    
            li {
                padding: 20px;
                &:hover{
                    color: black;
                }
    
                a{
                    color: greenyellow;
                    font-size: 1.6rem;
                }
            }
        }
    }
}