//   MOBILE FIRST   

.index_container {
    font-weight: 100;
    display: grid;
    grid-template-areas:
    "header"
    "article"
    "footer";
    grid-template-rows: 140px 450px 140px;
    align-items: center;
    text-align: center;
    min-width: 100%;
    background-color: grey;

    .index_article {
        grid-area: article;
        display: flex;
        justify-content: left;
        height: 400px;
    
        .index_texto{
            font-size: 1.1rem;
            color: white;
            text-align: left;
            margin: 40px 20px 0px 10px;
        }
    }
}




/*     DISPLAY   TABLET     */

/* @media (min-width: 768px) { */

@media screen and (min-width: 768px) and (orientation: portrait){
    .index_container {
        font-family: 'Nanum Brush Script', cursive;
        font-weight: 100;
        display: grid;
        grid-template-areas:
        "header header"
        "article article"
        "footer footer";
        grid-template-rows: 200px 500px 170px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: center;

        .header{
            background-color: lavender;
            display: flex;
            justify-content: end;
            border: 3px solid;
            height: 120px
        }
    }
}

/* @media screen and (min-width: 768px) and (orientation: landscape){

} */

/*     DISPLAY   DESKTOP     */

@media screen and (min-width: 1200px) {
    .index_container {
        font-family: 'Nanum Brush Script', cursive;
        font-weight: 100;
        display: grid;
        grid-template-areas:
        "header header"
        "article article"
        "footer footer";
        grid-template-rows: 200px 500px 150px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: center;

        .index_article {
            grid-area: article;
            height: 500px;

            .index_texto{
                max-width: 70%;
                font-size: 1.7rem;
                margin-top: 50px;
                color: yellow;
                margin-left: 40px;
                margin-right: 20px;
            }
        }
    }
}



