
/* MOBILE FIRST  */

.publications_container {
    display: grid;
    grid-template-areas:
                    "header"
                    "article"
                    "section"
                    "footer";
    grid-template-rows: 140px 300px 300px 140px;
    grid-template-columns: 1fr;
}

.publications_article {
    grid-area: article;
    background: brown;
}
.publications_section {
    grid-area: section;
    background: lightcoral;
}



 /* M I D I A */

