* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {    
    height: 100%;
}

body {    
    min-height: 100%;
    background-color: black;
}

.container {    
    display: grid;
    grid-template-areas:
    "header header header"
    "aside  aside  aside"
    "main    main  main"
    "footer footer footer";    
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    min-width: 100%;
    
}

.header{
    grid-area: header;    
    font-size: 2rem;
    color: aliceblue;    
    height: 80px;    
}

.aside{
    grid-area: aside;
    display: flex; 
    justify-content: center;
    height: 100px;
}
.aside p{    
    display: flex; 
    align-items: center;
    color: yellowgreen;
}


.main{
    grid-area: main;
    display: flex;
    justify-content: center;    
    grid-template-columns: repeat(4, 1fr);
    padding-top: 100px;
    padding-bottom: 90px;                
    flex-wrap: wrap;    
    gap: 80px;
}

.card {   
    width: 230px;
    height: 310px;
    border: solid 1px;                
    margin-bottom: 25px;
    border-radius: 7px 7px 7px 7px;
}
.card_img_container {
    border-radius: 7px 7px 0px 0px;
} 
.card_images{
    height: 210px;
    width: 100%;
    border-radius: 7px 7px 0px 0px;
}
.card_description {
    margin-left: 6px;                
    color: red;
    width: 100%;
}

.card_title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.3rem;                        
}

a{
    margin-top: 10px    ;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 14px;                
}

#addlink, p{
    font-size: 1.1rem;
}

a{
    color: olive;
}


.footer{
    grid-area: footer;    
    display: flex;
    justify-content: right;
    color: yellowgreen;
    height: 30px;
    margin-right: 43px;
    margin-bottom: 6px;

}
